@charset "UTF-8";
@font-face {
  font-family: "libre_baskerville";
  src: url("../fonts/librebaskerville-bold-webfont.woff2") format("woff2"), url("../fonts/librebaskerville-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "libre_baskerville";
  src: url("../fonts/librebaskerville-italic-webfont.woff2") format("woff2"), url("../fonts/librebaskerville-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "libre_baskerville";
  src: url("../fonts/librebaskerville-regular-webfont.woff2") format("woff2"), url("../fonts/librebaskerville-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("../fonts/Eczar-Bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("../fonts/Eczar-ExtraBold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("../fonts/Eczar-Medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("../fonts/Eczar-Regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("../fonts/Eczar-SemiBold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
html, body {
  background: #c7c4b8;
  background: linear-gradient(90deg, #c7c4b8 0%, #f7f3e4 15%, #f7f3e4 85%, #c7c4b8 100%);
  font-family: "libre_baskerville", Georgia, serif;
  font-size: 20px;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "eczar", Helvetica, sans-serif;
}

h1 {
  color: #76E841;
  font-weight: 700;
  text-shadow: 2px 2px 1px #000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #220;
  font-size: 48px;
  line-height: 2.5rem;
  margin: 0;
}

h2 {
  background: #574822;
  background: linear-gradient(42deg, #574822 0%, #aa9149 13%, #f7f3e4 50%, #f7f3e4 100%);
  color: #000;
  font-weight: 500;
  line-height: 64px;
  padding: 3px;
}

a {
  color: #76E841;
}

a:visited {
  color: #337711;
}

a:hover, a:active {
  color: #0f0;
}

article.heraldry-list {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
article.heraldry-list img {
  width: 64px;
  margin-right: 1rem;
}

article.post p.date {
  font-style: italic;
  font-size: 0.75rem;
  margin: 0;
}
article.post div {
  border-left: 3px solid #5C5031;
  padding: 0 0 0 1rem;
}
article.post div p:first-child:first-letter {
  float: left;
  font-family: "eczar", Helvetica, sans-serif;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

blockquote {
  background: #E3D5A1;
  border-left: 2px solid #5C5031;
  padding: 0.5rem 1rem;
}

button, input[type=submit], a.button {
  background: #5c5649;
  background: linear-gradient(165deg, #5c5649 0%, #0a0a0a 100%);
  border: 3px solid #5C5031;
  border-radius: 3px;
  color: #fff;
  padding: 0.5rem 1rem;
}

button:active, input[type=submit]:active, a.button:active {
  background: #5c5649;
  background: linear-gradient(339deg, #5c5649 0%, #0a0a0a 100%);
  color: #76E841;
  transform: translateY(2px);
}

button:hover, input[type=submit]:hover, a.button:hover {
  color: #fff;
}

button:disabled, input[type=submit]:disabled, a.button:disabled {
  background: #323232;
  color: #464646;
}

div.banner {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
div.banner img {
  margin-right: 1rem;
  width: 128px;
}
div.banner h2 {
  background: none;
  font-size: 1.5rem;
}

div.columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
div.columns div.column {
  margin: 0 0.5rem;
}

div.half {
  width: 450px;
}

div.narrow {
  width: 400px;
}

div.charges {
  display: flex;
  flex-wrap: wrap;
}
div.charges div.charge {
  background: #fff;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  margin: 0.5rem;
  width: 128px;
}
div.charges div.charge p {
  font-size: 0.6rem;
}
div.charges div.charge span.tag {
  background: #987f33;
  border-radius: 3px;
  padding: 0.25rem;
  color: #fff;
  font-size: 0.5rem;
}
div.charges div.charge img {
  display: block;
  max-height: 128px;
  max-width: 128px;
  margin: 0 auto;
}

div.heraldry-large {
  width: 100%;
  text-align: center;
}
div.heraldry-large img {
  margin: 0 auto;
  width: 400px;
}

div.input-group {
  background: #EFE9C5;
  font-size: 0.8rem;
  margin: 0.5rem;
  padding: 0.25rem;
}
div.input-group label {
  font-weight: 700;
}

div.pennon {
  width: 550px;
  margin: 0 auto;
}

div.tinctures {
  display: flex;
}
div.tinctures div {
  width: 80px;
  height: 80px;
  margin: 0 0.25rem;
}
div.tinctures div span {
  display: block;
  background-color: #000;
  color: #fff;
  font-size: 0.7rem;
  text-align: center;
}

img.centered {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

input {
  font-family: "libre_baskerville", Georgia, serif;
  font-size: 1rem;
}

.azure {
  background-color: #0731BA;
}

.gules {
  background-color: #D40D02;
}

.purpure {
  background-color: #6131B5;
}

.sable {
  background-color: #000000;
}

.vert {
  background-color: #0B731B;
}

.erminois {
  background-color: #ffaa00;
  background-image: url("/img/furs/erminois.png");
}

.ermine {
  background-color: #ffffff;
  background-image: url("/img/furs/ermine.png");
}

.ermines {
  background-color: #000000;
  background-image: url("/img/furs/ermines.png");
}

.pean {
  background-color: #000000;
  background-image: url("/img/furs/pean.png");
}

.argent {
  background-color: #ffffff;
}

.or {
  background-color: #F0D41F;
}

.murrey {
  background-color: #731842;
}

.sanguine {
  background-color: #8C1508;
}

.tenné {
  background-color: #C79C4D;
}

figure.heraldry {
  text-align: center;
  width: 300px;
}

blockquote.organization, div.organization {
  display: flex;
  align-items: center;
}
blockquote.organization img, div.organization img {
  min-width: 128px;
  max-width: 128px;
  margin-right: 1rem;
}

nav {
  background-color: #5c5031;
}
nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  margin: 0;
}
nav ul li {
  margin: 0.5rem 0.35rem;
  color: #76E841;
}
nav ul li a {
  color: #fff;
}
nav ul li a:visited {
  color: #9C9374;
}

nav.main {
  background-image: url("/img/stone_bg.png");
  border-bottom: 3px solid #000;
  border-top: 3px solid #000;
}
nav.main ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}
nav.main ul li {
  font-family: "eczar", Helvetica, sans-serif;
  font-size: 1.15rem;
  margin: 0.5rem 0.35rem;
}
nav.main ul li a {
  text-decoration: none;
  color: #fff;
}
nav.main ul li a:visited {
  color: #fff;
}
nav.main ul li:after {
  color: #76E841;
  content: " ◈";
}

div.planet, div.star {
  display: flex;
  align-items: center;
}
div.planet img, div.star img {
  height: 128px;
  width: 128px;
  margin: 0.25rem;
}
div.planet h4, div.star h4 {
  margin: 0 0.5rem;
}

section {
  width: 968px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, tr, td, th {
  border: 1px solid #5c5031;
}

td, th {
  padding: 0.25rem;
}

th {
  background-color: #5c5031;
  color: #fff;
}

@media (max-width: 968px) {
  section {
    width: 100%;
  }

  img.centered {
    max-width: 100%;
  }
}
header {
  background: #9c803a;
  background: radial-gradient(circle, #9c803a 0%, #5c5031 100%);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  align-items: center;
}
header img.logo {
  height: 128px;
  width: 128px;
}
header p.subtitle {
  color: #FAD037;
  margin: 1rem 0 0 0;
  text-shadow: 1px 1px 1px #000;
}

img.art-icon {
  float: left;
  height: 64px;
  width: 64px;
  margin-right: 1rem;
}

footer {
  background-color: #9C9374;
  font-size: 0.75rem;
  border-top: 1px solid #5C5031;
  margin-top: 2rem;
  padding-bottom: 5rem;
  padding-top: 1rem;
  text-align: center;
}
footer p.logo-name {
  font-family: "eczar", Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
}
footer img.logo {
  width: 128px;
  margin: 0 auto;
}
footer p {
  margin: 0.25rem;
}

/*# sourceMappingURL=app.css.map */
