@font-face {
  font-family: "libre_baskerville";
  src: url("fonts/librebaskerville-bold-webfont.woff2") format("woff2"), url("fonts/librebaskerville-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "libre_baskerville";
  src: url("fonts/librebaskerville-italic-webfont.woff2") format("woff2"), url("fonts/librebaskerville-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "libre_baskerville";
  src: url("fonts/librebaskerville-regular-webfont.woff2") format("woff2"), url("fonts/librebaskerville-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("fonts/Eczar-Bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("fonts/Eczar-ExtraBold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("fonts/Eczar-Medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("fonts/Eczar-Regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("fonts/Eczar-SemiBold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body, html {
  background: #c7c4b8;
  background: linear-gradient(90deg, #c7c4b8 0%, #f7f3e4 15%, #f7f3e4 85%, #c7c4b8 100%);
  font-family: "libre_baskerville", Georgia, serif;
  font-size: 20px;
  line-height: 1.5rem;
}

header, div#app, footer {
  width: 968px;
  margin: 0 auto;
}

div#app {
  display: grid;
  grid-template-columns: 200px auto;
}
div#app section.sidebar {
  border-right: 1px solid #eee;
  margin-right: 1.5rem;
}
div#app section.sidebar button {
  background: #5C5031;
  border-radius: 0px;
  border: 0px solid #000;
  color: white;
  font-size: 0.9rem;
  line-height: 0.9rem;
  margin: 0;
  width: 100%;
}
div#app section.sidebar button.active {
  background: #FAD037;
  color: black;
}
div#app section.sidebar h2 {
  font-size: 1.2rem;
  line-height: 1.2rem;
}
div#app section.main button {
  background: #5c5649;
  background: linear-gradient(165deg, #5c5649 0%, #0a0a0a 100%);
  border: 3px solid #5C5031;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0.1rem;
  padding: 0.5rem 1rem;
}
div#app section.main button:active {
  background: #5c5649;
  background: linear-gradient(339deg, #5c5649 0%, #0a0a0a 100%);
  color: #76E841;
  transform: translateY(2px);
}

footer {
  font-size: 0.75rem;
  margin-top: 1rem;
}

header {
  font-size: 1.75rem;
  line-height: 1.75rem;
  padding: 0.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "eczar", Helvetica, sans-serif;
  margin: 0.5rem 0;
}

h1 {
  color: #76E841;
  font-weight: 700;
  text-shadow: 2px 2px 1px #000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #220;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
}

h2 {
  color: #000;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.25rem;
  padding: 3px;
}

p {
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
