@charset "utf-8";

@font-face {
		font-family: 'libre_baskerville';
		src: url('fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
		url('fonts/librebaskerville-bold-webfont.woff') format('woff');
		font-weight: bold;
		font-style: normal;
}

@font-face {
		font-family: 'libre_baskerville';
		src: url('fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
		url('fonts/librebaskerville-italic-webfont.woff') format('woff');
		font-weight: normal;
		font-style: italic;
}

@font-face {
		font-family: 'libre_baskerville';
		src: url('fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
		url('fonts/librebaskerville-regular-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'eczar';
		src: url('fonts/Eczar-Bold-webfont.woff') format('woff');
		font-weight: 700;
		font-style: normal;
}

@font-face {
		font-family: 'eczar';
		src: url('fonts/Eczar-ExtraBold-webfont.woff') format('woff');
		font-weight: 800;
		font-style: normal;
}

@font-face {
		font-family: 'eczar';
		src: url('fonts/Eczar-Medium-webfont.woff') format('woff');
		font-weight: 500;
		font-style: normal;
}

@font-face {
		font-family: 'eczar';
		src: url('fonts/Eczar-Regular-webfont.woff') format('woff');
		font-weight: 400;
		font-style: normal;
}

@font-face {
		font-family: 'eczar';
		src: url('fonts/Eczar-SemiBold-webfont.woff') format('woff');
		font-weight: 600;
		font-style: normal;
}

$ironarachnegreen: #76E841;
$tan: #5C5031;
$gold: #FAD037;

body, html {
	background: rgb(199, 196, 184);
	background: linear-gradient(90deg, rgba(199, 196, 184, 1) 0%, rgba(247, 243, 228, 1) 15%, rgba(247, 243, 228, 1) 85%, rgba(199, 196, 184, 1) 100%);
	font-family: 'libre_baskerville', Georgia, serif;
	font-size: 20px;
	line-height: 1.5rem;
}

header, div#app, footer {
	width: 968px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'eczar', Helvetica, sans-serif;
	margin: 0.5rem 0;
}

h2 {
	color: #000;
	font-weight: 500;
	font-size: 2.25rem;
	line-height: 2.25rem;
	padding: 3px;
}

p {
	margin-bottom: 0.5rem;
}
